<form action="{% url 'change_topic_sorting' %}" method="post">{% csrf_token %}
    <label for="topic-sort-order">
        sort:
    </label>
    <select id="topic-sort-order" name="topic_sort_order">
            <option value="first_comment_utc" {% if request.session.topic_sort_order == 'first_comment_utc' %}selected="selected"{% endif %}>ascending</option>
            <option value="-first_comment_utc" {% if request.session.topic_sort_order == '-first_comment_utc' %}selected="selected"{% endif %}>descending</option>
    </select>

    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    <input type="submit" value="apply" />
</form>